In [1]:
import numpy as np
import pandas as pd
import os

In [44]:
comp = pd.read_csv('./working.csv', index_col='date_time', parse_dates=True)
comp.sort_index(inplace=True)

twit = pd.read_csv('./datasets/twitters/withsent/csco.csv', index_col='date', parse_dates=True)
twit.sort_index(inplace=True)


twit_score = twit[['vader_sentiment']]
twit_score

                     vader_sentiment
date
2019-09-02 22:50:00          -0.1195
2019-09-02 22:52:01           0.8268
2019-09-02 22:53:14           0.7269
2019-09-02 23:52:38          -0.3802
2019-09-03 01:54:59           0.2263
...                              ...
2019-12-29 16:40:32           0.0000
2019-12-29 17:03:30           0.0000
2019-12-29 18:00:43           0.1280
2019-12-29 18:21:31           0.7269
2019-12-29 18:35:15           0.0000

[6427 rows x 1 columns]

In [53]:
twit_score = twit[['vader_sentiment']]
twit_score

                     vader_sentiment
date
2019-09-02 22:50:00          -0.1195
2019-09-02 22:52:01           0.8268
2019-09-02 22:53:14           0.7269
2019-09-02 23:52:38          -0.3802
2019-09-03 01:54:59           0.2263
...                              ...
2019-12-29 16:40:32           0.0000
2019-12-29 17:03:30           0.0000
2019-12-29 18:00:43           0.1280
2019-12-29 18:21:31           0.7269
2019-12-29 18:35:15           0.0000

[6427 rows x 1 columns]

In [56]:
twit_score.resample('s').mean()

                     vader_sentiment
date
2019-09-02 22:50:00          -0.1195
2019-09-02 22:50:01              NaN
2019-09-02 22:50:02              NaN
2019-09-02 22:50:03              NaN
2019-09-02 22:50:04              NaN
...                              ...
2019-12-29 18:35:11              NaN
2019-12-29 18:35:12              NaN
2019-12-29 18:35:13              NaN
2019-12-29 18:35:14              NaN
2019-12-29 18:35:15           0.0000

[10179916 rows x 1 columns]

In [58]:
twit_score['vader_sentiment'].ewm(50).mean().isna().sum()

0

In [52]:
twit_score['mean_sent'] = twit_score['vader_sentiment'].ewm(50).mean()
twit_score.head()

/Users/jsf/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                     vader_sentiment  mean_sent
date
2019-09-02 22:50:00          -0.1195  -0.119500
2019-09-02 22:52:01           0.8268   0.358335
2019-09-02 22:53:14           0.7269   0.483630
2019-09-02 23:52:38          -0.3802   0.261216
2019-09-03 01:54:59           0.2263   0.253954

In [45]:
df2 = pd.merge_asof(comp, twit_score, left_index=True, right_index=True, allow_exact_matches=True, direction='nearest', 
                    tolerance=pd.Timedelta('12H'))
# df2['vader_sentiment'].fillna(0, inpalace=True)


df2[['vader_sentiment']]

                     vader_sentiment
date_time
2019-09-03 09:30:00           0.1906
2019-09-03 09:30:01           0.1906
2019-09-03 09:30:02           0.1906
2019-09-03 09:30:03           0.1906
2019-09-03 09:30:04           0.1906
...                              ...
2019-12-31 15:59:55              NaN
2019-12-31 15:59:56              NaN
2019-12-31 15:59:57              NaN
2019-12-31 15:59:58              NaN
2019-12-31 15:59:59              NaN

[2012485 rows x 1 columns]

In [7]:
twit_score.index.dtype

dtype('<M8[ns]')

In [ ]:
df3 = pd.merge_ordered(comp, twit_score, left_on:comp.index, right_on:twit_score.index)

In [8]:
comp.index.dtype

dtype('<M8[ns]')

In [9]:
twit_score.between_time('16:00', '9:30')

                     vader_sentiment
date
2019-09-02 22:50:00          -0.1195
2019-09-02 22:52:01           0.8268
2019-09-02 22:53:14           0.7269
2019-09-02 23:52:38          -0.3802
2019-09-03 01:54:59           0.2263
...                              ...
2019-12-29 16:40:32           0.0000
2019-12-29 17:03:30           0.0000
2019-12-29 18:00:43           0.1280
2019-12-29 18:21:31           0.7269
2019-12-29 18:35:15           0.0000

[3543 rows x 1 columns]

In [16]:
df = pd.merge(comp, twit_score, left_index=True, right_index=True, how='left')
df['vader_sentiment'].fillna(0, inplace=True)
df

,vol,price open,price high,price low,price close,mean_price,high_px_1,mean_px_1,high_px_2,mean_px_2,...,high_px_10,mean_px_10,high_px_15,mean_px_15,high_px_30,mean_px_30,high_px_60,mean_px_60,ticker,vader_sentiment
2019-09-03 09:30:00,200,46.52,46.60,46.52,46.60,46.560000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,csco,0.0
2019-09-03 09:30:01,1100,46.58,46.62,46.57,46.59,46.590000,0.000429,0.000644,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,csco,0.0
2019-09-03 09:30:02,400,46.60,46.62,46.59,46.62,46.600000,0.000000,0.000215,0.000429,0.000859,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,csco,0.0
2019-09-03 09:30:03,0,46.60,46.62,46.59,46.62,46.600000,0.000000,0.000000,0.000000,0.000215,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,csco,0.0
2019-09-03 09:30:04,600,46.63,46.63,46.62,46.62,46.622000,0.000215,0.000472,0.000215,0.000472,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,csco,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-31 15:59:55,0,47.95,47.95,47.94,47.94,47.946667,0.000000,0.000000,0.000000,0.000000,...,-0.000417,-0.000434,-0.000313,-0.000382,0.000000,-0.000070,0.000209,0.000139,csco,0.0
2019-12-31 15:59:56,0,47.95,47.95,47.94,47.94,47.946667,0.000000,0.000000,0.000000,0.000000,...,-0.000417,-0.000434,-0.000313,-0.000382,-0.000209,-0.000278,0.000209,0.000139,csco,0.0
2019-12-31 15:59:57,600,47.96,47.96,47.96,47.96,47.960000,0.000209,0.000278,0.000209,0.000278,...,-0.000208,-0.000156,-0.000104,-0.000104,0.000000,0.000000,0.000417,0.000417,csco,0.0
2019-12-31 15:59:58,5012,47.95,47.96,47.95,47.96,47.954615,0.000000,-0.000112,0.000209,0.000166,...,-0.000208,-0.000269,-0.000208,-0.000321,0.000000,-0.000112,0.000417,0.000305,csco,0.0
2019-12-31 15:59:59,9108,47.95,47.97,47.95,47.95,47.958810,0.000209,0.000087,0.000209,-0.000025,...,0.000209,-0.000025,0.000000,-0.000233,0.000209,-0.000025,0.000626,0.000392,csco,0.0

In [21]:
df[df['vader_sentiment']!=0]

,vol,price open,price high,price low,price close,mean_price,high_px_1,mean_px_1,high_px_2,mean_px_2,...,high_px_10,mean_px_10,high_px_15,mean_px_15,high_px_30,mean_px_30,high_px_60,mean_px_60,ticker,vader_sentiment
2019-09-03 09:59:40,0,46.940,46.940,46.940,46.940,46.940,0.000000,0.000000e+00,0.000000,0.000000e+00,...,0.000000,0.000000,0.000000,0.000160,0.000107,0.000201,0.000640,0.000640,csco,0.3818
2019-09-03 10:25:37,0,46.390,46.390,46.390,46.390,46.390,0.000000,0.000000e+00,0.000000,0.000000e+00,...,-0.000216,-0.000216,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,csco,0.3612
2019-09-03 10:40:22,0,46.350,46.350,46.350,46.350,46.350,0.000000,0.000000e+00,0.000000,0.000000e+00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.000216,-0.000216,csco,0.6697
2019-09-03 10:42:13,600,46.550,46.550,46.550,46.550,46.550,0.000000,-1.110223e-16,0.000000,-1.110223e-16,...,-0.000644,-0.000429,-0.000644,-0.000644,-0.000644,-0.000644,0.001937,0.001937,csco,0.4019
2019-09-03 13:36:56,476,46.310,46.310,46.310,46.310,46.310,-0.000216,-2.158895e-04,-0.000432,-4.316857e-04,...,-0.000432,-0.000432,-0.000432,-0.000432,-0.000432,-0.000432,-0.000863,-0.000863,csco,0.5267
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-27 12:50:15,0,47.850,47.850,47.850,47.850,47.850,0.000000,0.000000e+00,0.000000,0.000000e+00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,csco,0.3680
2019-12-27 12:57:29,0,47.860,47.860,47.860,47.860,47.860,0.000000,0.000000e+00,0.000000,0.000000e+00,...,0.000000,0.000000,0.000000,0.000000,0.000209,0.000209,0.000209,0.000209,csco,0.3680
2019-12-27 15:20:38,0,47.810,47.810,47.810,47.810,47.810,0.000000,0.000000e+00,0.000000,0.000000e+00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000209,0.000209,csco,-0.3050
2019-12-27 15:25:00,0,47.815,47.815,47.815,47.815,47.815,0.000000,0.000000e+00,0.000000,0.000000e+00,...,0.000000,0.000000,0.000000,0.000000,0.000105,0.000105,0.000105,0.000105,csco,0.3612
2019-12-27 15:55:00,500,47.770,47.770,47.770,47.770,47.770,0.000000,0.000000e+00,0.000000,0.000000e+00,...,0.000000,0.000000,0.000000,0.000000,0.000628,0.000655,0.000943,0.001027,csco,0.6697

In [13]:
twit_score[twit_score.index.duplicated()]

                     vader_sentiment
date
2019-09-13 13:41:23           0.5562
2019-09-14 03:07:18           0.0000
2019-09-14 03:07:18           0.0000
2019-09-17 12:30:09           0.0000
2019-09-20 12:16:29           0.0000
2019-09-24 13:21:27          -0.4199
2019-10-03 16:01:01           0.2023
2019-10-04 14:16:29           0.5562
2019-10-10 16:20:07           0.2960
2019-10-16 18:15:47           0.0000
2019-11-13 16:06:43           0.0000
2019-11-13 16:35:23           0.5849
2019-11-13 22:00:02           0.0000
2019-11-14 07:12:56           0.2500
2019-11-14 09:06:40           0.0000
2019-11-14 09:47:07          -0.4019
2019-11-14 10:00:07           0.5106
2019-11-14 10:15:16          -0.5684
2019-11-14 14:00:00           0.5423
2019-11-18 16:01:00           0.2023
2019-11-20 00:10:02          -0.4404
2019-12-05 13:06:20           0.5562
2019-12-13 11:41:35           0.5562
2019-12-17 09:46:19           0.0000
2019-12-19 09:30:15           0.6808

In [48]:
(comp['vol'] == 0).sum()

1841067

In [59]:
twit.head()

,tweet_count,company,id,tweet_text,hashtags,username,mentions,rewtweets,replies,link,vader_sentiment
date,,,,,,,,,,,
2019-09-02 22:50:00,41,csco,1168717750803554305,What if $BA starts dropping so hard $DIA has t...,NaN,FredBuford,@jimcramer @davidfaber,0,0,https://twitter.com/FredBuford/status/11687177...,-0.1195
2019-09-02 22:52:01,40,csco,1168718259316826113,I hope everyone had a great weekend! SR plan F...,NaN,StockRecycler,NaN,1,0,https://twitter.com/StockRecycler/status/11687...,0.8268
2019-09-02 22:53:14,39,csco,1168718565442228224,Gain from opinions of smart traders & investor...,NaN,PortfolioBuzz,NaN,0,0,https://twitter.com/PortfolioBuzz/status/11687...,0.7269
2019-09-02 23:52:38,38,csco,1168733513060966401,$CSCO Net margins at a consistent loss. Bear!,NaN,DominicCarrolls,NaN,0,0,https://twitter.com/DominicCarrolls/status/116...,-0.3802
2019-09-03 01:54:59,37,csco,1168764306504048642,My impression of charts on Twitter. $CSCO $INT...,NaN,FusionptCapital,NaN,4,1,https://twitter.com/FusionptCapital/status/116...,0.2263

In [63]:
twit_score

                     vader_sentiment
date
2019-09-02 22:50:00          -0.1195
2019-09-02 22:52:01           0.8268
2019-09-02 22:53:14           0.7269
2019-09-02 23:52:38          -0.3802
2019-09-03 01:54:59           0.2263
...                              ...
2019-12-29 16:40:32           0.0000
2019-12-29 17:03:30           0.0000
2019-12-29 18:00:43           0.1280
2019-12-29 18:21:31           0.7269
2019-12-29 18:35:15           0.0000

[6427 rows x 1 columns]

In [64]:
rs = twit_score.resample('min').mean()

In [67]:
rs.ewm(50).mean()

                     vader_sentiment
date
2019-09-02 22:50:00        -0.119500
2019-09-02 22:51:00        -0.119500
2019-09-02 22:52:00         0.363018
2019-09-02 22:53:00         0.487520
2019-09-02 22:54:00         0.487520
...                              ...
2019-12-29 18:31:00         0.370509
2019-12-29 18:32:00         0.370509
2019-12-29 18:33:00         0.370509
2019-12-29 18:34:00         0.370509
2019-12-29 18:35:00         0.230522

[169666 rows x 1 columns]